---
layout: empty
title: Home
---

<hr style="border-color:var(--color-green);margin:0;border-width:5px;">

<div class="container">

    <div id="main-heading" style="text-align: center;margin-top:15vh;margin-bottom: 5vh;">
        <div style="margin-bottom: 5vh;">
            <h1>Welcome to my <strong style="color:var(--color-green-x-darker);">blog</strong>!</h1>
            <h4>This is where I share project writeups, tutorials, and notes.</h4>
        </div>

        <a href="https://github.com/Ewpratten/blog" aria-label="View source code"><button class="btn btn-outline-secondary"
                aria-label="View source code"><i class="fab fa-github"></i></button></a>
        <a href="{{site.root_url}}" aria-label="Go to retrylife.ca"><button class="btn btn-info" aria-label="Go to retrylife.ca"><i
                    class="fas fa-home"></i></button></a>
        <a href="{{site.baseurl}}/feed.xml" aria-label="RSS feed"><button class="btn btn-outline-secondary" aria-label="RSS feed"><i
                    class="fas fa-rss"></i></button></a>
    </div>

    <hr>

    {% for post in site.posts %}
    <a href="{{post.url}}" class="post-listing" style="margin:30px;" aria-label="Blog Post: {{post.title}}">
        <div style="max-width:800px;margin:auto;">

            <h2>{{post.title}}</h2>
            <small class="text-muted">{{post.date | date: "%Y-%m-%d"}} // {% include read_time.html %} read</small>

            <p>{{post.excerpt}}</p>

            <hr>
        </div>
    </a>
    {% endfor %}

</div>