<nav class="navbar sticky-top navbar-light bg-light" id="global-navbar">
  <div class="container">
    <a class="navbar-brand" href="{{site.baseurl}}/">
      //retrylife:<strong style="color:var(--color-green-darker);">blog</strong>
    </a>

    <div class="my-2 my-lg-0">
      <a href="{{site.root_url}}"><i class="text-muted fas fa-home" style="margin-left:10px;margin-right:5px;"></i></a>
      <a href="{{site.baseurl}}/feed.xml"><i class="text-muted fas fa-rss" style="margin-left:5px;margin-right:10px;"></i></a>
    </div>

  </div>
</nav>